<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello FTNet</title>
</head>
<body>
    <h1>Hello FTNet</h1>
    <hr/>
    <div th:each="path:${pathList}">
        <a th:href="@{/path(key=${path})}" th:text="${path}"></a>
    </div>
</body>
</html>